@model LoginViewModel

<h2>Login</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        <input hidden asp-for="ReturnUrl"/>
    </div>
    <div>
        <label asp-for="Email">Enter Email</label><br/>
        <input type="text" asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Enter Password</label><br/>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация"/>
    </div>
</form>