@{
    Layout = "_Column_Layout";
}

<h3 class="text-white text-center mt-3">Farm overview</h3>
<div class="mt-3" id="preview_statistics"></div>
<div class="mt-3" id="detailed_statistics"></div>

@section ColumnContent
{
    @await Html.PartialAsync("FarmsNavigationPartialView")
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/morris/css/morris.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" asp-append-version="true"></script>
    <script src="~/lib/morris/js/morris.min.js" asp-append-version="true"></script>
    <script src="~/js/overview.js" asp-append-version="true"></script>
}