@model PhlegmaticOne.InnoGotchi.Web.ViewModels.Farms.CreateFarmViewModel

<form asp-action="Create" asp-controller="Farm" method="post">
    <div>
        <label asp-for="Name">Enter farm name</label><br />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>