<div class="container py-5">
    <div class="mb-3" id="preview_statistics"></div>
    <div class="mb-3" id="detailed_statistics"></div>
</div>

@section Scripts
{
    <script src="~/js/farms.js" asp-append-version="true"></script>
}
