@{
    ViewData["Title"] = "Home Page";
}

@*<svg style="position: relative;">
    <image style="position: absolute;" href="Resources/body1.svg" />
    <image style="position: absolute;  transform: translate(67px, 22px) scale(0.2)" href="Resources/Eyes/eyes1.svg" />
    <image style="position: absolute;  transform: translate(75.5px, 38px) scale(0.02)" href="Resources/nose1.svg" />
    <image style="position: absolute;  transform: translate(65.2px, 40.5px) scale(0.2)" href="Resources/mouth1.svg" />
</svg>*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>